.modal-body{padding-top:10%;background-image:url('../../../assets/images/loginBack.png');
    button{
      width:50%;
      height:40px;
      background-color: #FF8888;
      margin:5%;
      border:2px solid #FF8888;
      color:white;
      border-radius: 50px;
      outline:none;
      cursor: pointer;
    }
    background-size: cover;
    background-position-x: -200px;
    input[type="text"]
    {
     border:0px;
     border-bottom:2px solid pink;
     padding:5px;
     margin-bottom:5%;
     width:70%;
     outline:0px;
     text-align:left;
     background:transparent;
     font-size:20px;
     color:black;
     text-transform: capitalize;
  
    }
    input[type="text"]:focus {
   border-color:#4285F4;
   transition:border 1s;
   

    }
} 
  