@media screen and (max-width:1399px)
{
.products{margin-left:auto;margin-right:auto;width:80%;}
 

 .productList{
  margin-left:auto;margin-right:auto;width:100%;
 }

}


@media screen and (min-width:320px) and (max-width:650px){
  .products{margin-left:auto;margin-right:auto;width:80%;
   }
  
   .productList{
    margin-left:auto;margin-right:auto;width:100%;
   }
  
  }