#FirstContainer {
  color: black;
  height: auto;
  margin-top: 5vh;
  // padding:10px;
}
.TitleContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.TitleHeading {
  margin-bottom: 8vh;
  font-size: 25px;
}

.Items:hover{
  box-shadow: 2px 5px 4px 2px  rgb(185, 185, 185);
  cursor: pointer;
 }
 
 
// .bar {
//   margin-top: 15px;
//   width: 200px;
//   height: 2px;
//   display: inline-block;
//   color: black;
//   background-color: black;
// }
.itemHeading {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;;
  margin-right: 20px;
  margin-left: 20px;
  text-transform: capitalize;
  margin-bottom: -10%;
  font-weight: 600;
  color:#4e4e4e;
  text-align: center;
 
}

#SecondContainer {
  color: black;
  background-color:#EBEBEB;
  width:100%;
  overflow-x: auto  
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgb(204, 204, 204);
}
::-webkit-scrollbar-thumb:horizontal {
  background:rgb(255, 136, 136);
  border-radius: 0px 50px 50px 0px;
  
 
}


::-webkit-scrollbar-thumb:vertical {
  
  background: rgb(255, 136, 136);
}
