#FirstContainer {
  color: black;
  background-color: white;
  height: auto;
  margin-top: 5vh;
  // padding:10px;
}
.TitleContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.TitleHeading {
  display: inline-block;
  margin-bottom: 8vh;
}
.bar {
  margin-top: 15px;
  width: 200px;
  height: 2px;
  display: inline-block;
  color: black;
  background-color: black;
}
.itemHeading {
  font-size: 30px;
  font-family: sans-serif, Lato;
  margin-right: 20px;
  margin-left: 20px;
}

#SecondContainer {
  color: black;
  background-color: white;
  padding: 10px;
  background-color: #ffd154;
}

.productTitle {
  display: inline;
  padding: 3%;
}
#price {
  padding-left: 55%;
}
.item-details {
  h4 {
    margin-left: 2%;
    margin-top: 5%;
  }
}
.Items {
  float: left;
  width: 300px;
  height: 300px;
  background-color: white;
  margin-right: 1%;
}

.Items img {
  width: 300px;
  height: 200px;
  align-items: center;
}
.Qty {
  font-size: 20px;
  width: 100px;
  height: 30px;
  background-color: none;
  border: 2px solid black;
  border-radius: 10px;
}
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
  background: black;
}
::-webkit-scrollbar-thumb:horizontal {
  background:hsl(184, 100%, 50%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  background: hsl(184, 100%, 50%);
}
