.navbar {
  border-radius: 0px !important;
  box-shadow: 0px 5px 5px #aaaaaa;
}
.navbar-brand {
  font-size: 2em;
  margin-right: 15%;
}
.navbar .bg-dark {
  background-color: black !important;
}

#navbar-icon {
  .fa {
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
  }
}
#navbar-sign-button {
  color: white;
  max-width: 100%;
  width: auto;
}
.navbar-nav {
  li {
    padding-left: 5% !important;
  }
}
