.Item {
  float: left;
  width: 250px;
  height: 350px;
  background-color: #ffffff;
  margin-right: 2%;
  top:5vh;
  position:relative;
  box-shadow: 2px 2px 5px rgb(168, 168, 168);
  margin-bottom:5%;

.checked{color:#ff8888;}  
 
button {
    z-index: 1000;
    position: relative;
    font-size: 14px;
    outline: 0px;
    border:none;
    cursor: pointer;
    height: 35px;
    width: 46%;
    margin-left: 2%;
    opacity:1;
    background-color:white;
    margin-top:10%;
    }

  #Addbucket {
    float: right;
    transform: translateX(-5%);
  }
  #Addcart {
    float: left;
  }

  .discount {
    color: green;
    background-color: rgb(193, 250, 108);
    font-size: 15px;
    width: 6em;
    text-align: center;
    height: 25px;
    border-radius: 2px;
    z-index: 2;
    position: relative;
  }

  h4 {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-left: 2%;
  }
  #Price {
    font-size: 16px;
    color: black;
    text-decoration: none;
  }

  img {
    width: 250px;
    height: 200px;
    align-items: center;
    margin-top: -10%;
    z-index: 1;
    position: relative;
  }
}
.Item:hover {
  box-shadow: 2px 2px 5px rgb(168, 168, 168);
  transform: scale(1.02);
  transition: transform 0.1s ease-in-out;

  z-index:5;
  img {
    filter: brightness(50%);
  }
  .buttonAdd {
    width: 250px;
    height: 30px;
  }
  button {
    bottom:0px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    background-color: #ff8888;
    color:white;
    
  }
}
.Item:hover button {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
